@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"); */

body {
  font-family: "Roboto", sans-serif;
}

/* .font-family-karla {
  font-family: karla;
} */

.logo {
  width: 65px;
  height: 65px;
  background-size: cover;
  margin: auto;
  padding: auto;
}

.ant-table-thead .ant-table-cell {
  background-color: #1d4ed8 !important;
  text-decoration: white!important;
  color: white!important;
}

.account-link:hover {
  background: #1d4ed8;
}

.title {
  @apply text-xl font-semibold capitalize text-black cursor-pointer;
}

/* .bg-sidebar {
  background: #1d4ed8;
} */

/* .cta-btn {
  color: #1d4ed8;
} */

/* .upgrade-btn {
  background: #1d4ed8;
} */

/* .upgrade-btn:hover {
  background: #1d4ed8;
} */

/* .active-nav-link {
  background: #1d4ed8;
} */

/* .nav-item:hover {
  background: #1d4ed8;
} */

/* .title_cols {
  @apply flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item;
} */



/* .bg-dark-button {
  @apply bg-black text-white  hover:bg-orange-500 px-6 py-2 font-semibold rounded-md;
} */


/* .bg-light-button {
  @apply px-6 py-2 bg-white text-Black hover:bg-orange-500 rounded-md font-semibold;
} */
