@import 'antd/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box; 
  border-width: 0; 
  border-style: solid; 
  border-color: theme('borderColor.DEFAULT', currentColor); 
}

::before,
::after {
  --tw-content: '';
}

.logo {
  width: 65px;
  height: 65px;
  background-image:url(assets/logoMS.png);
  background-size: cover;
  margin: auto;
  padding: auto;
}
